@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  justify-content: center;
  height: 7.4vh;
}

@media (min-width: 300px) and (max-width: 768px) {
  .navbar {
    height: 10vh;
  }
}

.kidults-font {
  font-size: 55px;
  font-family: 'Minecrafter';
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #220c07;
  content: attr(title);
  -webkit-text-stroke: 0.05em #f34551;
  text-shadow: 1px 1px 1px #f34551,
    2px 2px 1px #f34551,
    3px 3px 1px #f34551,

    4px 4px 1px #f34551,
    5px 5px 1px #f34551,
    6px 6px 1px #f34551,
    7px 7px 1px #f34551,
    8px 8px 1px #f34551;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .kidults-font {
    font-size: 45px;
  }
}

@media (min-width: 300px) and (max-width: 760px) {
  .kidults-font {
    font-size: 35px;
  }
}

@font-face {
  font-family: "Minecrafter";
  src: url("Minecrafter_Reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.wrapper{
  flex-shrink: 0;
}

.font{
  font-family: "Montserrat", sans-serif;
  src: url("Montserrat-VariableFont_wght.ttf") format("truetype");
}

.registrati{
  width:auto;
  height: auto;
  background-color: #9999A1;
padding: 16 8;
 display: flex;
}
.registrati h1{
  padding: 12;
  color: #EEEEEE;
  font-size:30px;
  margin: 12 0;
 font-weight:700;
}
.card-position{
  justify-content: center;
  margin: 12;
}
.card{
  background-color: #E6E6E9;
  border-radius: 4%;
  display: flex;
  padding: 12;
  width: 20rem;
}
.card-img-top{
  transform: rotate(-22deg);
}
.second-img{
  transform: rotate(-20deg);
}
.partner{
  background-color: #292F36;
  padding: 40;
  height: auto;
}
.partner h1{
  color: white;
}
.image{
  width: 96px;
  height: 80px;
}

.toggle-btn {
  display: none;
}
.toggle-label {
  display: inline-block;
  padding: 16px 24px;
  border: 1px solid #ccc;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  margin: 8;
  font-size:15px;
}
.toggle-label.selected {
  border-color: green;
  background-color: #D6F5D6;
}
.toggle-label.selected::after {
  content: 'x';
  position: absolute;
  top: 40%;
  left: 9%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: red;
}
@media (min-width: 768px) {
.svg-dots{
  width: 60;
  height: 60;
}}
@media (max-width: 767px) {
  .svg-dots{
    width: 70px;
    height: 70px;
  }}
  /* pokemon logo */
  .st0 {
      fill: url(#polygon16_1_)
  }
  .st1 {
      fill: #0071B9
  }
  .st2 {
      fill: url(#polygon25_1_)
  }
  .st3 {
      fill: #1D2C5E
  }
  .st4 {
      fill: url(#polygon36_1_)
  }
  .st5 {
      fill: url(#polygon43_1_)
  }
  .st6 {
      fill: #312370
  }
  .st7 {
      fill: #21386E
  }
  .st8 {
      fill: url(#polygon56_1_)
  }
  .st9 {
      fill: url(#path69_1_)
  }
  .st10 {
      fill: url(#polygon78_1_)
  }
  .st11 {
      fill: #FFCB05
  }
  .st12 {
      fill: #7D7F68
  }
  .st13 {
      fill: #C7A008
  }
  .st14 {
      fill: #3C5AA6
  }
  .st15 {
      fill: #3567B0
  }
  .st16 {
      fill: #1E2D5F
  }
  .st17 {
      fill: #3466AF
  }
  .st18 {
      fill: url(#path183_1_)
  }
  .st19 {
      fill: url(#path196_1_)
  }

  .line{
    line-height: 1.3rem !important;
  }